In [1]:
import pandas as pd
import warnings as wr
wr.filterwarnings('ignore')

In [2]:
df = pd.read_csv(r"C:\Users\ASUS\Downloads\weight-height.csv")
df.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [3]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [4]:
df.Gender = le.fit_transform(df[['Gender']])

In [5]:
df.head()

   Gender     Height      Weight
0       1  73.847017  241.893563
1       1  68.781904  162.310473
2       1  74.110105  212.740856
3       1  71.730978  220.042470
4       1  69.881796  206.349801

In [6]:
df.tail()

      Gender     Height      Weight
8550       0  60.483946  110.565497
8551       0  63.423372  129.921671
8552       0  65.584057  155.942671
8553       0  67.429971  151.678405
8554       0  60.921791  131.253738

# Go Ahead

In [7]:
X = df[['Gender', 'Height']]
Y = df['Weight']

In [8]:
X

      Gender     Height
0          1  73.847017
1          1  68.781904
2          1  74.110105
3          1  71.730978
4          1  69.881796
...      ...        ...
8550       0  60.483946
8551       0  63.423372
8552       0  65.584057
8553       0  67.429971
8554       0  60.921791

[8555 rows x 2 columns]

In [9]:
Y

0       241.893563
1       162.310473
2       212.740856
3       220.042470
4       206.349801
           ...
8550    110.565497
8551    129.921671
8552    155.942671
8553    151.678405
8554    131.253738
Name: Weight, Length: 8555, dtype: float64

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=7)

In [12]:
X_train

      Gender     Height
5525       0  58.417163
4379       1  69.606437
1527       1  70.798627
5690       0  59.559648
1283       1  68.902723
...      ...        ...
1372       1  65.343203
919        1  71.857888
4307       1  67.519372
5699       0  63.128043
537        1  64.362164

[5988 rows x 2 columns]

In [13]:
Y_train

5525     96.422171
4379    184.644157
1527    195.875839
5690    110.918226
1283    175.435302
           ...
1372    155.729380
919     193.429990
4307    200.897021
5699    136.592801
537     156.073899
Name: Weight, Length: 5988, dtype: float64

# Least Squared Linear Regression

In [14]:
from sklearn.linear_model import LinearRegression

In [15]:
from sklearn.metrics import mean_squared_error, r2_score

In [16]:
reg=LinearRegression()

In [17]:
reg.fit(X_train,Y_train)

LinearRegression()

In [18]:
Y_train_pred = reg.predict(X_train)
Y_test_pred = reg.predict(X_test)

In [19]:
mse_test = mean_squared_error(Y_test, Y_test_pred)
mse_test

104.48374770142881

In [20]:
mse_train = mean_squared_error(Y_train, Y_train_pred)
mse_train

101.95705453713978

In [21]:
r2_test = r2_score(Y_test, Y_test_pred)
r2_test

0.8973508685101468

In [22]:
r2_train = r2_score(Y_train, Y_train_pred)
r2_train

0.9010574011003305

# Regression Problem

In [23]:
from sklearn.neighbors import KNeighborsRegressor

In [24]:
knn_reg = KNeighborsRegressor(n_neighbors=3)

In [25]:
knn_reg.fit(X_train,Y_train)

KNeighborsRegressor(n_neighbors=3)

In [26]:
Y_train_pred = knn_reg.predict(X_train)
Y_test_pred = knn_reg.predict(X_test)

In [27]:
mse_train = mean_squared_error(Y_train, Y_train_pred)
mse_train

68.13615011449126

In [28]:
mse_test = mean_squared_error(Y_test, Y_test_pred)
mse_test

142.62719781942457

In [29]:
r2_train = r2_score(Y_train, Y_train_pred)
r2_train

0.9338783588644174

In [30]:
r2_test = r2_score(Y_test, Y_test_pred)
r2_test

0.8598771741531319

As we can see, both test and train score of Linear Regression model is higher than KNN Regressor, Linear Regression is much suitable for this dataset.

# Classification Problem

In [31]:
df

      Gender     Height      Weight
0          1  73.847017  241.893563
1          1  68.781904  162.310473
2          1  74.110105  212.740856
3          1  71.730978  220.042470
4          1  69.881796  206.349801
...      ...        ...         ...
8550       0  60.483946  110.565497
8551       0  63.423372  129.921671
8552       0  65.584057  155.942671
8553       0  67.429971  151.678405
8554       0  60.921791  131.253738

[8555 rows x 3 columns]

In [32]:
U= df[['Height','Weight']]
U

         Height      Weight
0     73.847017  241.893563
1     68.781904  162.310473
2     74.110105  212.740856
3     71.730978  220.042470
4     69.881796  206.349801
...         ...         ...
8550  60.483946  110.565497
8551  63.423372  129.921671
8552  65.584057  155.942671
8553  67.429971  151.678405
8554  60.921791  131.253738

[8555 rows x 2 columns]

In [33]:
V= df[['Gender']]
V

      Gender
0          1
1          1
2          1
3          1
4          1
...      ...
8550       0
8551       0
8552       0
8553       0
8554       0

[8555 rows x 1 columns]

In [34]:
U_train, U_test, V_train, V_test = train_test_split(U, V, test_size=0.3, random_state=7)

In [35]:
U_train

         Height      Weight
5525  58.417163   96.422171
4379  69.606437  184.644157
1527  70.798627  195.875839
5690  59.559648  110.918226
1283  68.902723  175.435302
...         ...         ...
1372  65.343203  155.729380
919   71.857888  193.429990
4307  67.519372  200.897021
5699  63.128043  136.592801
537   64.362164  156.073899

[5988 rows x 2 columns]

In [36]:
V_train

      Gender
5525       0
4379       1
1527       1
5690       0
1283       1
...      ...
1372       1
919        1
4307       1
5699       0
537        1

[5988 rows x 1 columns]

In [37]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

In [38]:
knn_class = KNeighborsClassifier()

In [39]:
knn_class.fit(U_train,V_train)

KNeighborsClassifier()

In [40]:
V_train_pred = knn_class.predict(U_train)
V_test_pred = knn_class.predict(U_test)

In [41]:
r2_train_score = r2_score(V_train, V_train_pred)
r2_train_score

0.7246031688685792

In [42]:
r2_test_score = r2_score(V_test, V_test_pred)
r2_test_score

0.6090657150592624

In [43]:
knn_class.score(U_train,V_train)

0.9330327321309285

In [44]:
knn_class.predict([[156.399676,63.456494 ]])

array([0])