# Creating DataFrame

In [56]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

In [57]:
weight=np.array([2,4,5,3,6,5,7])
price=np.array([35,60,20,50,50,55,60])

In [58]:
df=pd.DataFrame({'Weight':weight,'Price':price})
df

   Weight  Price
0       2     35
1       4     60
2       5     20
3       3     50
4       6     50
5       5     55
6       7     60

In [59]:
x=df[['Weight']]
y=df[['Price']]

# Manual Calculation

In [60]:
mean_x = np.mean(x)
mean_y = np.mean(y)
slope = np.sum((weight - mean_x) * (price - mean_y)) / np.sum((weight - mean_x)**2)
intercept = mean_y - slope * mean_x

In [61]:
slope

2.620967741935484

In [62]:
intercept

35.16129032258065

In [63]:
mean_x

4.571428571428571

In [64]:
mean_y

47.142857142857146

In [65]:
prediction_of_six= slope*6+intercept
prediction_of_six

50.88709677419355

# Residual

In [66]:
predictions=slope*weight+intercept
predictions

array([40.40322581, 45.64516129, 48.26612903, 43.02419355, 50.88709677,
       48.26612903, 53.50806452])

In [67]:
df=pd.DataFrame({'Weight':weight,'Price':price,'Predicted_y':predictions,'Residual':price-predictions})
df

   Weight  Price  Predicted_y   Residual
0       2     35    40.403226  -5.403226
1       4     60    45.645161  14.354839
2       5     20    48.266129 -28.266129
3       3     50    43.024194   6.975806
4       6     50    50.887097  -0.887097
5       5     55    48.266129   6.733871
6       7     60    53.508065   6.491935

# MAE,MSE

In [68]:
mean_absolute_error=(1/7)*np.sum(abs(price-predictions))
mean_absolute_error

9.873271889400918

In [69]:
mean_squared_error=(1/7)*np.sum((price-predictions)**2)
mean_squared_error

167.30990783410135

# Generation of xlsx file

In [70]:
df.to_excel("D:\linear_regression_results.xlsx", index=False)